@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --preto: #000000;
    --branco: #fff;
    --amarelo: #E1A325;
    --cinza-escuro: #1C1C1C;
    --cinza-claro: #D3D3D3
}

* {
    margin: 0;
    padding: 0;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background-color: var(--preto);
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: var(--branco);
    padding-block: 16px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./bg.jpg");
    background-color: var(--amarelo);
  }

#sobre-nos h1 {
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}

.principal {
    display: flex;
    /* align-items: center; */
    padding: 18px;
}

.principal p {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 1.3;
  padding-right: 100px;
  word-break: keep-all;
  
}

.entre-contato {
    padding-top: 70px;
}

.link-contato {
    font-size: 20px;
    padding: 12px 12px;
    border: var(--preto) 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    min-width: 200px;
    max-width: 200px;
    background-color: var(--preto);
}

.link-contato:hover {
    background-color: var(--cinza-escuro);
    border: var(--cinza-escuro) 2px solid;
    color: var(--cinza-claro);
}

.redes-sociais {
    margin-top: 60px;
    display: flex;
    gap: 32px;
}

.link-redes-sociais {
    font-size: 20px;
    padding: 16px 16px;
    border: var(--preto) 2px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--preto);
    font-size: 25px;
}

.link-redes-sociais:hover {
    background-color: var(--preto);
    color: var(--amarelo);
}


.img-filtros {
    display: flex;
    justify-content: flex-end;
    /* padding: 18px; */

}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--branco);
    cursor: pointer;
}

.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--branco);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--preto);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}